
@{
    ViewData["Title"] = "Add new Student";
}

@*If the information has not been added yet, the user will see the form*@ 
@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>

    @*A post method will send data to the server without placing it in the url*@
    <form method="post">
        @*Create inputs for all of the properties*@
        <label>Full Name</label>
        <input type="text" name="full_name" />
        <br />

        <label>Date of Birth</label>
        <input type="text" name="dob" />
        <br />

        <label>Student Email</label>
        <input type="text" name="email" />
        <br />

        <label>Home Phone</label>
        <input type="text" name="home_phone" />
        <br />

        <input type="submit" value="Add Student" />
    </form>
}
else
{
<p>Added Successfully</p>
}
