
@{
    ViewData["Title"] = "Add new Student";
}

@*If information has not been added yet, the user will see the form*@ 
@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>

    @*A post method will send data to the server without placing it in the url*@
    <form method="post">
        <div class="form-group">
            <label>Full Name</label>
            <input class="form-control" type="text" name="full_name" />
        </div>

        <div class="form-group">
            <label>Date of Birth</label>
            <input class="form-control" type="text" name="dob" />
        </div>

        <div class="form-group">
            <label>Student Email</label>
            <input class="form-control" type="text" name="email" />
        </div>
        
        <div class="form-group">
            <label>Home Phone</label>
            <input class="form-control" type="text" name="home_phone" />
        </div>

        <input type="submit" value="Add Student" />
    </form>
}
else
{
<div class="alert alert-success">
    @ViewData["Added"]
</div>
}
